<form action="/formTypes/add" method="POST">
  <input type="text" placeholder="name" name="name" />
  <input type="text" placeholder="fields" name="fields" />
  <button type="submit">Submit</button>
</form>
